---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="animate-left left-to-right md:5/12 lg:w-1/2">
          <img
            src="./images/pie.svg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="animate-right right-to-left md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Who We Are
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Veilix AI is a cutting-edge startup focused on delivering AI solutions for engineering and technical domains. Our mission is to bridge the gap between traditional technical diagrams and actionable insights through the power of Generative AI.
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20 relative">
                <svg class="ml-1.5 mt-1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="36px" width="36px" fill="#e8eaed"><path d="M352-120H200q-33 0-56.5-23.5T120-200v-152q48 0 84-30.5t36-77.5q0-47-36-77.5T120-568v-152q0-33 23.5-56.5T200-800h160q0-42 29-71t71-29q42 0 71 29t29 71h160q33 0 56.5 23.5T800-720v160q42 0 71 29t29 71q0 42-29 71t-71 29v160q0 33-23.5 56.5T720-120H568q0-50-31.5-85T460-240q-45 0-76.5 35T352-120Zm-152-80h85q24-66 77-93t98-27q45 0 98 27t77 93h85v-240h80q8 0 14-6t6-14q0-8-6-14t-14-6h-80v-240H480v-80q0-8-6-14t-14-6q-8 0-14 6t-6 14v80H200v88q54 20 87 67t33 105q0 57-33 104t-87 68v88Zm260-260Z"/></svg>        
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Personalized, industry-focused solutions</h4>
                <!-- <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p> -->
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <svg class="ml-1.5 mt-1.5" xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed"><path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-200v-80h320v80H320Zm10-120q-69-41-109.5-110T180-580q0-125 87.5-212.5T480-880q125 0 212.5 87.5T780-580q0 81-40.5 150T630-320H330Zm24-80h252q45-32 69.5-79T700-580q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 54 24.5 101t69.5 79Zm126 0Z"/></svg>                                      
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Innovative approach powered by state-of-the-art AI models</h4>
                <!-- <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p> -->
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>



<!--<script type="module">-->
<!--  // Import npm modules.-->
<!--  import anime from 'animejs'-->

<!--  // Find our component DOM on the page.-->
<!--  const leftToRight = document.querySelector('.left-to-right');-->
<!--  const rightToLeft = document.querySelector(".right-to-left");-->


<!--  const animationSetting = {-->
<!--    opacity: [0,1],-->
<!--    duration: 800,-->
<!--    easing: "easeOutExpo",-->
<!--  };-->


<!--  let animated = false;-->


<!--  // function shouldAnimate(){-->
<!--  //   if(elementInView(view) && !animated) {-->
<!--      anime({-->
<!--        targets: leftToRight,-->
<!--        ...animationSetting,-->
<!--        translateX: ["100px", 0],-->
<!--      });-->

<!--      anime({-->
<!--        targets: rightToLeft,-->
<!--        ...animationSetting,-->
<!--        translateX: ["-100px", 0],-->
<!--      });-->
<!--  //     animated = true;-->
<!--  //   }-->
<!--  // }-->
<!--  //-->
<!--  // window.addEventListener("scroll", () => {-->
<!--  //   shouldAnimate();-->
<!--  // });-->




<!--</script>-->