---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Our Solutions
      </h2>
    </div>
    <div class="animate-stagger md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Manufacturing</h6>
            <!-- <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p> -->
          </div>
        </div>
        <p class="mt-8">Enhancing operational efficiency with AI-driven insights.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Energy and Utilities</h6>
            <!-- <p class="text-sm text-gray-500 dark:text-gray-300">Marketing</p> -->
          </div>
        </div>
        <p class="mt-8">Optimizing resource allocation and compliance</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Construction and Real Estate</h6>
            <!-- <p class="text-sm text-gray-500 dark:text-gray-300">Developer</p> -->
          </div>
        </div>
        <p class="mt-8">Improving building safety and efficiency through intelligent floor plans</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Data Bottlenecks</h6>
            <!-- <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p> -->
          </div>
        </div>
        <p class="mt-8">Automating the processing of complex diagrams</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Compliance and Safety</h6>
            <!-- <p class="text-sm text-gray-500 dark:text-gray-300">Manager</p>   -->
          </div>
        </div>
        <p class="mt-8">Ensuring regulatory adherence in building layouts</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Operational Inefficiencies</h6>
            <!-- <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p> -->
          </div>
        </div>
        <p class="mt-8">Streamlining data flow for quick decision-making</p>
      </div>
    </div>
  </Container>
</div>